<div class="container-fluid" ng-controller="homeController">

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="" ng-click="order('title')">All</a></li>
              <li role="presentation"><a href="" ng-click="order('date')">Most Recent</a></li>
              <li role="presentation"><a href="" ng-click="order('view')">Most Viewed</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form class="form-horizontal">
                <input ng-model="query" class="form-control" type="text" placeholder="Filter by">
            </form>
        </div>
    </div>


    <div ng-repeat="r in results2| filter:query  track by $index ">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="box">
                <div class="outer">
                    <a data-ng-href="https://www.flickr.com/photos/132365033@N08/{{r.id}}/" itle="{{r.title}}">
                        <img data-ng-src="https://farm{{r.farm}}.staticflickr.com/{{r.server}}/{{r.id}}_{{r.secret}}_b.jpg" alt="{{r.title}}">
                    </a>
                </div>
                <div class="inner">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{r.title}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <p>{{r.username}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{r.date  * 1000 | date:'MM-dd-yyyy'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <p><span class="icon icon-favorite"></span> {{r.fave}}</p>
                        </div>
                        <div class="col-xs-3">
                            <p><span class="icon icon-visibility"></span> {{r.views}}</p>
                        </div>
                        <div class="col-xs-6">
                            <div ng-show="r.camera">
                                <p><span class="icon icon-camera_alt"></span> {{r.camera}}</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>
